/* ----- Masonry component styles ----- */

$margin: 10px;

.masonry {
	display: flex;
	margin: 50px 0;
    flex-wrap: wrap;
    justify-content: space-between;
	&__block{
		background: white;
		display: flex;
		flex-wrap: wrap;
		margin: $margin;
		min-height: 340px;
		position: relative;
		&--65{
			width: calc(65% - (#{$margin} * 2) );
		}
		&--35{
			width: calc(35% - (#{$margin} * 2) );
		}
		&--50{
			width: calc(50% - (#{$margin} * 2) );
		}
		&__description{
			padding: 10px;
		}
		&__read{
			background: $main-color;
			height: 40px;
			padding-right: 10px;
			text-align: right;
			a{
				color: white;
				font-size: 14px;
				line-height: 40px;
				text-decoration: none;
				&:hover{
					text-decoration: underline;
				}
			}
		}
		h2{
			font-size: 18px;
			font-weight: normal;
			text-transform: none;
		}
		p{
			font-size: 14px;
		}
	}
	&__block{
		&--65 &__description{
			background: white;
			width: 50%;
		}
		&--65 &__image{
			background: url('/assets/images/masonry/cerro.jpg');
			background-size: cover;
    		background-position: 0 20%;
    		height: 300px;
			width: 50%;
		}
		&--65 &__read{
			width: 100%;
		}
	}
	&__block{
		&--35 &__description{
			height: 190px;
			width: 100%;
			h2{
				margin: 0;
			}
		}
		&--35 &__image{
			background: url('/assets/images/masonry/amsterdam.jpg');
			background-size: cover;
    		background-position: 0 20%;
    		height: 150px;
			width: 100%;
		}
		&--35 &__read{
			bottom: 0;
			left: 0;
			position: absolute;
			width: 100%;
		}
	}
	&__block{
		&--50 &__description{
			height: 190px;
			width: 100%;
		}
		&--50 &__image{
			background: url('/assets/images/masonry/vegas.jpg');
			background-size: cover;
    		background-position: 0 20%;
    		height: 150px;
			width: 100%;
		}
		&--50 &__read{
			bottom: 0;
			left: 0;
			position: absolute;
			width: 100%;
		}
	}
}