/* ----- Masonry component styles ----- */

.masonry {
	display: flex;
	margin: 50px 0;
    flex-wrap: wrap;
    justify-content: space-between;
	&__block{
		background: white;
		display: flex;
		flex-wrap: wrap;
		margin: $margin 0 35px;
		min-height: 340px;
		position: relative;
		&__description{
			padding: 10px;
			height: 190px;
			width: 100%;
			h2{
				margin: 0;
			}
		}
		&__read{
			background: $main-color;
			bottom: 0;
			height: 40px;
			left: 0;
			padding-right: 10px;
			position: absolute;
			text-align: right;
			width: 100%;
			a{
				color: white;
				font-size: 14px;
				line-height: 40px;
				text-decoration: none;
				&:hover{
					text-decoration: underline;
				}
			}
		}
		&__image{
			background-size: cover;
    		background-position: 0 20%;
    		height: 150px;
			width: 100%;
		}
		h2{
			font-size: 18px;
			font-weight: normal;
			text-transform: none;
		}
		p{
			font-size: 14px;
		}
		@include respond-to($large) {
			margin: $margin 0;
			&--65{
				width: calc(65% - (#{$margin}) );
				.masonry__block__description{
					background: white;
					height: auto;
					width: 50%;
				}
				.masonry__block__image{
					height: 300px;
					width: 50%;
				}
				.masonry__block__read{
					position: relative;
					width: 100%;
				}
			}
			&--35{
				width: calc(35% - (#{$margin}) );
			}
			&--50{
				width: calc(50% - (#{$margin}) );
			}
		}
	}
	&__block--65 .masonry__block__image{
		background-image: url('/assets/images/masonry/cerro.jpg');
	}
	&__block--35 .masonry__block__image{
		background-image: url('/assets/images/masonry/amsterdam.jpg');
	}
	&__block--50 .masonry__block__image{
		background-image: url('/assets/images/masonry/vegas.jpg');
	}
}