<div class="masonry" data-action="masonry" id="">
	<div class="masonry__block masonry__block--65">
		<div class="masonry__block__description">
			<h2>Amanecer en Cerro Pelado, una experiencia única e inolvidable</h2>
			<p>Lorem ipsum dolor sit amet, quando reformidans ut pro, tempor ancillae delicata sit id. Cum ut etiam urbanitas interpretaris.</p>
		</div>
		<figure class="masonry__block__image">
			
		</figure>
		<div class="masonry__block__read">
			<a href="#">Leer más ></a>
		</div>
	</div>
	<div class="masonry__block masonry__block--35">
		<figure class="masonry__block__image">
			
		</figure>
		<div class="masonry__block__description">
			<h2>¿Vale la pena el hop-on hop-off en Amsterdam?</h2>
			<p>Lorem ipsum dolor sit amet, quando reformidans ut pro, tempor ancillae delicata sit id. Cum ut etiam urbanitas interpretaris.</p>
		</div>
		<div class="masonry__block__read">
			<a href="#">Leer más ></a>	
		</div>
	</div>
	<div class="masonry__block masonry__block--35">
		<figure class="masonry__block__image">
			
		</figure>
		<div class="masonry__block__description">
			<h2>¿Vale la pena el hop-on hop-off en Amsterdam?</h2>
			<p>Lorem ipsum dolor sit amet, quando reformidans ut pro, tempor ancillae delicata sit id. Cum ut etiam urbanitas interpretaris.</p>
		</div>
		<div class="masonry__block__read">
			<a href="#">Leer más ></a>	
		</div>
	</div>
	<div class="masonry__block masonry__block--65">
		<div class="masonry__block__description">
			<h2>Amanecer en Cerro Pelado, una experiencia única e inolvidable</h2>
			<p>Lorem ipsum dolor sit amet, quando reformidans ut pro, tempor ancillae delicata sit id. Cum ut etiam urbanitas interpretaris.</p>
		</div>
		<figure class="masonry__block__image">
			
		</figure>
		<div class="masonry__block__read">
			<a href="#">Leer más ></a>
		</div>
	</div>
	<div class="masonry__block masonry__block--50">
		<figure class="masonry__block__image">
			
		</figure>
		<div class="masonry__block__description">
			<h2>¿Qué hacer en la cuidad del pecado?</h2>
			<p>Lorem ipsum dolor sit amet, quando reformidans ut pro, tempor ancillae delicata sit id. Cum ut etiam urbanitas interpretaris.</p>
		</div>
		<div class="masonry__block__read">
			<a href="#">Leer más ></a>
		</div>
	</div>
	<div class="masonry__block masonry__block--50">
		<figure class="masonry__block__image">
			
		</figure>
		<div class="masonry__block__description">
			<h2>¿Qué hacer en la cuidad del pecado?</h2>
			<p>Lorem ipsum dolor sit amet, quando reformidans ut pro, tempor ancillae delicata sit id. Cum ut etiam urbanitas interpretaris.</p>
		</div>
		<div class="masonry__block__read">
			<a href="#">Leer más ></a>
		</div>
	</div>
	<div class="masonry__block masonry__block--65">
		<div class="masonry__block__description">
			<h2>Amanecer en Cerro Pelado, una experiencia única e inolvidable</h2>
			<p>Lorem ipsum dolor sit amet, quando reformidans ut pro, tempor ancillae delicata sit id. Cum ut etiam urbanitas interpretaris.</p>
		</div>
		<figure class="masonry__block__image">
			
		</figure>
		<div class="masonry__block__read">
			<a href="#">Leer más ></a>
		</div>
	</div>
	<div class="masonry__block masonry__block--35">
		<figure class="masonry__block__image">
			
		</figure>
		<div class="masonry__block__description">
			<h2>¿Vale la pena el hop-on hop-off en Amsterdam?</h2>
			<p>Lorem ipsum dolor sit amet, quando reformidans ut pro, tempor ancillae delicata sit id. Cum ut etiam urbanitas interpretaris.</p>
		</div>
		<div class="masonry__block__read">
			<a href="#">Leer más ></a>	
		</div>
	</div>
	<div class="masonry__block masonry__block--35">
		<figure class="masonry__block__image">
			
		</figure>
		<div class="masonry__block__description">
			<h2>¿Vale la pena el hop-on hop-off en Amsterdam?</h2>
			<p>Lorem ipsum dolor sit amet, quando reformidans ut pro, tempor ancillae delicata sit id. Cum ut etiam urbanitas interpretaris.</p>
		</div>
		<div class="masonry__block__read">
			<a href="#">Leer más ></a>	
		</div>
	</div>
	<div class="masonry__block masonry__block--65">
		<div class="masonry__block__description">
			<h2>Amanecer en Cerro Pelado, una experiencia única e inolvidable</h2>
			<p>Lorem ipsum dolor sit amet, quando reformidans ut pro, tempor ancillae delicata sit id. Cum ut etiam urbanitas interpretaris.</p>
		</div>
		<figure class="masonry__block__image">
			
		</figure>
		<div class="masonry__block__read">
			<a href="#">Leer más ></a>
		</div>
	</div>
</div>