/* ----- Footer component styles ----- */

.footer {
	background: $main-color;
	color: white;
	&__wrapper{
		display: flex;
		flex-wrap: wrap;
		margin: 0 auto;
		padding: $margin 0;
		max-width: 95%;
		width: $wrapper;
		> *{
			width: 100%;
		}
		@include respond-to($large) {
			justify-content: space-between;
			padding: $margin 0px;
			> *{
				width: calc(100% / 3);
			}
		}
	}
	#instafeed a{
    	display: inline-block;
    	width: calc(100% / 3);
    	img{
    		width: 100%;
    	}
	}
	&__social{
		display: flex;
		justify-content: center;
		a{
			color: white;
			margin-right: 25px;
    		&:hover{
    			color: black;
    		}
		}
	}
	&__column1{
		color: black;
		letter-spacing: 1px;
		text-align: center;
		text-transform: uppercase;
		p{
			font-size: 12px;
		}
		&__logo{
			max-width: 150px;
		}
		@include respond-to($large) {
			max-width: 220px;
			text-align: left;
		}
	}
	&__column2{
		display: none;
		a{
			color: white;
			text-decoration: none;
			&:hover{
				text-decoration: underline;
			}
			&:after{
				content: ',';
			}
		}
		@include respond-to($large) {
			display: block;
		}
	}
	h3{
		text-align: center;
		@include respond-to($large) {
			text-align: left;
		}
	}
}