<div class="footer" data-action="footer" id="">
	<div class="footer__wrapper">
	    <div class="footer__column1">
	    	<img class="footer__column1__logo" src="assets/images/menu/logo-white.svg" alt="Latino Viejero Logo">
	    	<p>Siguenos en nuestras redes</p>
			<div class="footer__social">
				<a href="#">
					<i class="fab fa-facebook fa-2x"></i>
				</a>
				<a href="#">
					<i class="fab fa-instagram fa-2x"></i>
				</a>
				<a href="#">
					<i class="fab fa-youtube fa-2x"></i>
				</a>
			</div>
	    </div>
	    <div class="footer__column2">
	    	<h3>Categorías</h3>
	    	<a href="#">américa</a>
	    	<a href="#">asia</a>
	    	<a href="#">africa</a>
	    	<a href="#">europa</a>
	    	<a href="#">tips</a>
	    	<a href="#">méxico</a>
	    	<a href="#">experiencias</a>
	    </div>
	    <div class="footer__column3">
	    	<h3>Últimos posts en Instagram:</h3>
	    	<div id="instafeed"></div>
	    </div>
    </div>
</div>