<div class="countries" data-action="countries" id="">
    <h2>Paises visitados</h2>
    <div class="countries__container">
    	<div class="countries__country">
	    	<a href="#">
	    		<figure>
	    			<div class="countries__country__shadow"></div>
	    			<img src="assets/images/countries/costarica.png" alt="">
	    			<figcaption>Costa Rica</figcaption>
	    		</figure>
	    	</a>
	    </div>
	    <div class="countries__country">
	    	<a href="#">
	    		<figure>
	    			<div class="countries__country__shadow"></div>
	    			<img src="assets/images/countries/usa.png" alt="">
	    			<figcaption>Estados Unidos</figcaption>
	    		</figure>
	    	</a>
	    </div>
	    <div class="countries__country">
	    	<a href="#">
	    		<figure>
	    			<div class="countries__country__shadow"></div>
	    			<img src="assets/images/countries/inglaterra.png" alt="">
	    			<figcaption>Inglaterra</figcaption>
	    		</figure>
	    	</a>
	    </div>
	    <div class="countries__country">
	    	<a href="#">
	    		<figure>
	    			<div class="countries__country__shadow"></div>
	    			<img src="assets/images/countries/italia.png" alt="">
	    			<figcaption>Italia</figcaption>
	    		</figure>
	    	</a>
	    </div>
	    <div class="countries__country">
	    	<a href="#">
	    		<figure>
	    			<div class="countries__country__shadow"></div>
	    			<img src="assets/images/countries/francia.png" alt="">
	    			<figcaption>Francia</figcaption>
	    		</figure>
	    	</a>
	    </div>
	    <div class="countries__country">
	    	<a href="#">
	    		<figure>
	    			<div class="countries__country__shadow"></div>
	    			<img src="assets/images/countries/emiratos.png" alt="">
	    			<figcaption>Emiratos Árabes</figcaption>
	    		</figure>
	    	</a>
	    </div>
	    <div class="countries__country">
	    	<a href="#">
	    		<figure>
	    			<div class="countries__country__shadow"></div>
	    			<img src="assets/images/countries/holanda.png" alt="">
	    			<figcaption>Países Bajos</figcaption>
	    		</figure>
	    	</a>
	    </div>
	    <div class="countries__country">
	    	<a href="#">
	    		<figure>
	    			<div class="countries__country__shadow"></div>
	    			<img src="assets/images/countries/mexico.png" alt="">
	    			<figcaption>México</figcaption>
	    		</figure>
	    	</a>
	    </div>
	    <div class="countries__country">
	    	<a href="#">
	    		<figure>
	    			<div class="countries__country__shadow"></div>
	    			<img src="assets/images/countries/panama.png" alt="">
	    			<figcaption>Panamá</figcaption>
	    		</figure>
	    	</a>
	    </div>
	    <div class="countries__country">
	    	<a href="#">
	    		<figure>
	    			<div class="countries__country__shadow"></div>
	    			<img src="assets/images/countries/china.png" alt="">
	    			<figcaption>China</figcaption>
	    		</figure>
	    	</a>
	    </div>
	    <div class="countries__country">
	    	<a href="#">
	    		<figure>
	    			<div class="countries__country__shadow"></div>
	    			<img src="assets/images/countries/tailandia.png" alt="">
	    			<figcaption>Tailandia</figcaption>
	    		</figure>
	    	</a>
	    </div>
	    <div class="countries__country">
	    	<a href="#">
	    		<figure>
	    			<div class="countries__country__shadow"></div>
	    			<img src="assets/images/countries/nicaragua.png" alt="">
	    			<figcaption>Nicaragua</figcaption>
	    		</figure>
	    	</a>
	    </div>
	    <div class="countries__country">
	    	<a href="#">
	    		<figure>
	    			<div class="countries__country__shadow"></div>
	    			<img src="assets/images/countries/peru.png" alt="">
	    			<figcaption>Perú</figcaption>
	    		</figure>
	    	</a>
	    </div>
    </div>
</div>