@font-face {
    font-family: 'connections';
    src: url('fonts/connections_regular-web.eot');
    src: url('fonts/connections_regular-web.eot?#iefix') format('embedded-opentype'),
         url('fonts/connections_regular-web.woff') format('woff'),
         url('fonts/connections_regular-web.ttf') format('truetype');

    font-weight: 400;
    font-style: normal;
}