/*------------------------------------*\
    GLOBAL/BASE STYLES
\*------------------------------------*/

html,
body {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    
    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;
    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;
    /* Support for IE. */
    font-feature-settings: 'liga';
}

html {
    box-sizing: border-box; // subtract padding from declared widths
}
*, *:before, *:after {
    box-sizing: inherit;
}

body {
    font-family: Roboto, Arial;
    font-size: 16px;
    overflow-x: hidden;
}

h2{
    text-transform: uppercase;
}

h1, h2, h3, h4{
    font-family: Poppins;
}

.wrapper__page{
    clear: both;
    margin: 0 auto;
    max-width: 1000px;
}
