/*------------------------------------*\
    VARIABLES
\*------------------------------------*/

$header-grey: #d3d3d3;
$header-text-grey: #414141;
$dark-grey: #828282;
$light-grey: #F9F7F4;
$color-brightBlue: #0073CF;

$color-warmGrayLight: #f2f2f2;

$platinum: #828282;

$gold: #e0a526;

$honors: #000000;

$m-blue: #009ada;

$red: #C41230;
/* ----- Responsive ----- */

// Starting macro breakpoints - use more as needed in component and page files

$small : 375px;
// $medium : 643px;
$medium : 768px;
// $large  : 1067px;
$large  : 1024px;
