<div class="menu" data-action="menu" id="">
	<div class="menu__wrapper">
		<figure class="menu__hamburguer">
			<img src="assets/images/menu/hamburguer-icon.png" />
		</figure>
	    <figure class="menu__logo">
	    	<img src="assets/images/menu/logo-white.svg" alt="Latino Viejero Logo">
	    </figure>
	    <div class="menu__items">
	    	<ul>
	    		<li>
	    			<a href="#">Blog</a>
	    		</li>
	    		<li>
	    			<a href="#">Quien soy</a>
	    		</li>
	    		<li>
	    			<a href="#">Países</a>
	    			<ul class="menu__subitems">
	    				<li><a href="#">México</a></li>
	    				<li><a href="#">Nicaragua</a></li>
	    				<li><a href="#">Costa Rica</a></li>
	    			</ul>
	    		</li>
	    		<li>
	    			<a href="#">Contacto</a>
	    		</li>
	    	</ul>
	    </div>
    </div>
</div>