<div class="mastheadslider" data-action="mastheadslider" id="">
    <ul class="mastheadslider__slider">
    	<li>
    		<div class="mastheadslider__slider__title mastheadslider__slider__title--bottom mastheadslider__slider__title--left">
    			<h2>¿Qué hacer en la cuidad del pecado?</h2>
    			<h3>10 lugares que tienes que visitar en Las Vegas</h3>
    		</div>
    		<img src="assets/images/mastheadslider/lasvegas.png" />
    	</li>
    	<li>
    		<div class="mastheadslider__slider__title mastheadslider__slider__title--top mastheadslider__slider__title--right">
    			<h2>¿Vale la pena el hop-on hop-off en Amsterdam?</h2>
    			<h3>Buses y botes ilimitados por 24/48 horas</h3>
    		</div>
    		<img src="assets/images/mastheadslider/amsterdam.png" />
    	</li>
    	<li>
    		<div class="mastheadslider__slider__title mastheadslider__slider__title--bottom mastheadslider__slider__title--left">
    			<h2>Amanecer en Cerro Pelado, una experiencia única e inolvidable</h2>
    			<h3>Consejos a la hora de visitar este cerro</h3>
    		</div>
    		<img src="assets/images/mastheadslider/costa_rica.png" />
    	</li>
    </ul>
    <div class="mastheadslider__controls">
    	<img class="mastheadslider__controls--left" src="assets/images/mastheadslider/left-arrow.png" alt="">
    	<img class="mastheadslider__controls--right" src="assets/images/mastheadslider/right-arrow.png" alt="">
    </div>
</div>