<div class="author" data-action="author" id="">
	<div class="author__image">
		<img src="assets/images/author/marvin.jpg" alt="Marvin Solano" />
	</div>
	<div class="author__about">
		<h3>¿Quien soy?</h3>
		<p>Hola, mi nombre es <b>Marvin Solano</b>, costarricense y viajero empedernido. Soy una persona que le encanta conocer, fotografiar y narrar sobre diferentes culturas.</p>
		<p>En este blog podrás encontrar experiencias de mis viajes, recomendaciones e <b>información útil</b> de lugares que he visitado.</p>
		<p>¡ Bienvenid@s a mis viajes !</p>
	</div>
</div>